<app-header currentPage="homepage"></app-header>
<ion-content>

  <ion-list class="ion-no-padding">
      <ion-item 
        *ngFor="let currentItem of itemsList" 
        (click)="seeDetails(currentItem)"
        class="ion-no-padding"
        >
        <ion-thumbnail class="
        {{currentItem.level|dangerClassColor}}
        ion-no-margin
        ion-justify-content-center
        ion-align-items-center
        ion-align-self-center
        ">
          <div>{{currentItem.id}}</div>
        </ion-thumbnail>
        <ion-label>{{currentItem.name}}</ion-label>
      </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>