<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="previousPage" (click)="navigateBack()">
            <ion-button>
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{currentPage|headerTitle}}</ion-title>
    </ion-toolbar>

    <ion-buttons *ngIf="currentPage==='homepage'" class="ion-align-items-center ion-justify-content-center ion-text-center">
        <ion-button (click)="selectItemLevel(0)" class="code_acceptable">Safe</ion-button>
        <ion-button (click)="selectItemLevel(1)" class="code_avoid">To Avoid</ion-button>
        <ion-button (click)="selectItemLevel(2)" class="code_controversy">Controversial</ion-button>
        <ion-button (click)="selectItemLevel(3)" class="code_danger">Danger</ion-button>
        <ion-button (click)="selectItemLevel(-1)" class="code_neutral">Clear</ion-button>
        <ion-button (click)="selectItemLevel(-2)" class="pinned">Pinned</ion-button>
    </ion-buttons>
</ion-header>