<app-header currentPage="details" previousPage="{{previousPage}}"></app-header>
<ion-content>
    <ion-card>
        <ion-item class="{{elementInfo?.level|dangerClassColor}}">
            <ion-label>E{{elementInfo?.id}}</ion-label>
        </ion-item>

        <ion-card-header>
            <ion-card-title>{{elementInfo?.name}}</ion-card-title>
            <ion-card-subtitle>{{elementInfo?.type}}</ion-card-subtitle>
        </ion-card-header>

        <ion-item>
            <ion-label>{{elementInfo?.level|dangerText}}</ion-label>
        </ion-item>

        <ion-card-content>
            {{elementInfo?.info}}
            {{tempOnlineData?.extract}}
            <br>

            <ion-button (click)="pinItem()">Pin additive</ion-button>
            <br>
            <ion-img *ngIf="tempOnlineData?.thumbnail?.source" [src]="tempOnlineData.thumbnail.source"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>
