/* You can add global styles to this file, and also import other style files */

.code_acceptable{
    background-color: green;
    --background: green;
}

.code_avoid{
    background-color: yellow;
    --background: yellow;
}

.code_controversy{
    background-color: orange;
    --background: orange;
}

.code_danger{
    background-color: red;
    --background : red;
}

.code_neutral{
    background-color: grey;
    --background : grey;
}

.pinned{
    background-color: lightblue;
    --background : lightblue;
}

.main-list-items{
    padding-left: 10px;
}

.search-input{
    border:solid 1px lightgrey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.items-list-thumbnails{
    display: flex;
}

.search-page-div{
    height: 100%;
    display: flex;
}